<div class="page-header">
  <h1><%= @image.caption %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= image_tag @image.path %></strong></dt>
</dl>

<dl>
<% @image.votes.each do |v| %>
  <% if (v.comment)%>
    <dt><%=v.user.name%></dt>
    <dd><%=v.comment%><br/><%=v.created_at%></dd>
  <% end %>
<% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              images_path, :class => 'btn'  %>
</div>
