<div class="page-header">
  <h1><%= @image.caption %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= image_tag @image.path %></strong></dt>
</dl>

<ul class="unstyled">
<% @image.votes.each do |v| %>
  <% if (v.comment)%>
    <li >
    <div class="comment"><%=v.comment%></div>
    <div class="timeandname">
      <abbr class="timeago" title="<%= v.created_at.getutc.iso8601 %>">
        <%= v.created_at.to_s %>
      </abbr>
      by <%=v.user.name%>
    </div>
    </li>
  <% end %>
<% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    {:controller=>:images, :action => :ranking}, :class => 'btn'  %>
</div>
<%= javascript_tag do %>
  jQuery(document).ready(function() {
    jQuery("abbr.timeago").timeago();
    });
<% end %>

