<h1>Geoface: Find aliens' footprints</h1>
<p>Can you find a face in the below image? It might an object which is built by aliens!</p>
<div class="vcount">Voted count:<%=@votes.count%></div>
<div>
<%if current_user%>
  <%if @voted%>
    You have voted: Comment:<%=@myvote.comment%>
  <%else%>
  <div class="votearea">
    <%= link_to 'I found face!', {:controller => :vote, :action => :create, :image_id => @image.id}, :remote => true, :method => :post, "data-type" => "html", :class => 'vote' %>
    <%= link_to 'No, there is no face', {:controller => :vote, :action => :thumbdown, :image_id => @image.id}, :method => :post, :class => 'thumbdown' %>
  </div>
  <div id="response_div"></div>
  <%end%>
<%else%>
  Need login to vote
<%end%>
</div>
<hr/>
<%=image_tag(@image.path)%>
<%= javascript_tag do %>
$('a.vote').bind('ajax:success', function(evt, data, status, xhr){
  $('#response_div').html(data);
  $('a.vote').html('You voted')
});
function reload(){
  location.reload();
}
<% end %>
