<h1>Welcome#index</h1>
<p>Can you find faces?</p>
<div class="vcount">Vote count:<%=@votes.count%></div>
<div>
<%if current_user%>
  <%if @voted%>
    You voted: Comment:<%=@myvote.comment%>
  <%else%>
    <%= link_to 'I found face!', {:controller => :vote, :action => :create, :image_id => @image.id}, :remote => true, :method => :post, "data-type" => "html", :class => 'vote' %>
  <div id="response_div"></div>
  <%end%>
<%else%>
  Need login to vote
<%end%>
</div>
<div class="clear">
<button onclick="javascript:location.reload();" name="Change" value="Change">Change</button>
<hr/>
<%=image_tag(@image.path)%>
<%= javascript_tag do %>
$('a.vote').bind('ajax:success', function(evt, data, status, xhr){
  $('#response_div').html(data);
  $('a.vote').html('You voted')
});
<% end %>
</div>
